@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');



.navbar-alter
{
    background-color: black;
  
    
}

.navbar-light-foreground
{
    color: #ffffff !important;
}

.nav-links:hover {
    background-color: rgb(70, 73, 70);
       
}

.img-alter
{  
     
    margin-top: 56px;
    padding: auto;
    
    height:auto;
    width: 45% !important;
    
}

.text-alter
{
  text-align: center;
  margin-top: 30px;
  font-family:Ubuntu;
  font-size: 20px;
  font-weight: bold;
  color:lavender;

}


.flex-container
{
    display: flex;
    flex-direction: row;
   margin: auto;
}

.services-div
{
    width: 90%;
    margin: auto;
    background-color: 'black';
}

.services-alter
{
    font-family: Fredoka One;
    width: '18rem';
    height: '12rem';
    border-style:solid;
    border-width: 3px;  
    background-image: linear-gradient(#9e9e9e, #757575);
}

.card-title-alter
{
    height: 80%;
}

.link-alter
{
 font-family: Sanchez;
 font-style: normal;
 color: rgb(39, 38, 38);
 height: 20%;

 

}
.projects-text-alter
{
    color: whitesmoke;
    text-align: center;
    font-family: Satisfy;
    font-size: 40px;

}

.services-text-alter
{
    text-align: center;
    background-image: linear-gradient(rgb(175, 172, 172), rgb(248, 248, 246), rgb(107, 103, 103));
    background-color: whitesmoke;
    opacity: 40%;
    font-weight: bold;
    
}

.carousel-alter
{
   
    height: 30%;
    margin: auto;
    

}

.video-alter
{
    margin: auto;
    
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
 
}


.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}



.font-icons-alter
{
    color: white;
    font-size: 40px;
    margin-left: 30px;
}

.font-icons-alter:hover
{
    color:crimson;
    transition: 0.2s;
}

.contact-div-alter
{
    display: flex;
    width: 50%;
    margin: auto;
    text-align: center;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    min-height: 20vh;
}

.banner-alter
{
    color: whitesmoke;
    text-align: center;
    min-height: 15vh;
    margin: auto;
    font-family:Satisfy;
}

.banner-call-alter
{
    color: rgb(192, 192, 192);
    text-align: center;
    min-height: 30vh;
    margin: auto;
    font-family:Concert One;
}